// import fonts 
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

// fonts 
$montserrat:'Montserrat', sans-serif;
$poppins:'Poppins', sans-serif;
$bebas-neue:'Bebas Neue', cursive;

// colors
$secondary-color :#0CB0BD ;
$primary-color:#000352 ;
$tirtiory-color:#041E20;
