@import '../../Styles/variables';

.ready-to-see{
    width: 100vw;
    height: auto;
    position: relative;
    padding: 100px;
    overflow-x: hidden;
    display: grid;
    justify-items: center;
    grid-gap: 10px;
    text-align: center;
    h1{
        font-family: $bebas-neue;
        font-size: 45px;
        max-width: 500px;
        line-height: 0.95;
        letter-spacing: 2px;
    }
    p{
        font-family: $poppins;
        font-size: 20px;
    }
    button{
        margin-top: 20px;
        width: 200px;
        height: 50px;
        background: transparent;
        font-size: 18px;
        font-family: $poppins;
        border-radius: 10px;
        border: 2px solid $secondary-color;
    }
}